nav
    width: 100%
    position: fixed
    top: 0
    z-index: 10
    padding: .7rem 0
    background: var(--color-white)

    .nav-container
        display: flex
        justify-content: space-between
        align-items: center

        .logo h3
            font-size: 1.6rem
            font-weight: 400
            text-transform: uppercase
            user-select: none
            color: var(--color-dark)

        .logo span
            color: var(--color-primary)

        .search-bar
            padding: var(--search-padding)
            background: var(--color-light)
            border-radius: var(--border-radius)

            input[type="search"]
                background: transparent
                width: 30vw
                margin-left: 1rem
                font-size: .9rem
                color: var(--color-dark)

            &::placeholder
                color: var(--color-gray)

        .add-post
            display: flex
            align-items: center
            gap: 2rem
