*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  text-decoration: none
  list-style: none
  border: none

:root
  --primary-color-hue: 252
  --color-dark-light-theme: 17%
  --color-light-light-theme: 95%
  --color-white-light-theme: 100%

  --color-white: hsl(252, 30%, var(--color-white-light-theme))
  --color-light: hsl(252, 30%, var(--color-light-light-theme))
  --color-gray: hsl(252, 15%, 60%)
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%)
  --color-secondary: hsl(252, 100%, 90%)
  --color-success: hsl(120, 95%, 60%)
  --color-danger: hsl(0, 95%, 60%)
  --color-dark: hsl(252, 30%, var(--color-dark-light-theme))
  --color-black: hsl(252, 30%, 8%)

  --border-radius: 2rem
  --card-border-radius: 1rem

  --btn-padding: .6rem 2rem
  --search-padding: .6rem 1rem
  --card-padding: 1rem

body
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  color: var(--color-dark)
  background: var(--color-light)
  /*overflow: hidden*/

@media (max-width:1200px) 
  .container
      width: 96%
  
  .main-container
      grid-template-columns: auto 30vw
  
  .main-left
      width: 6rem
      z-index: 5
      position: fixed
      right: 0
      top: 10%
  
  .main-container .main-left .profile
      display: none
  
  aside 
    h3
      display: none
  
    .menu-item span img
      margin-left: 1.4rem
  
    img
      margin-left: 1rem
  
    .btn
      display: none
  
  @media (max-width:991px)
      nav .search-bar
        display: none
      
      .main-container
        grid-template-columns: auto 0
      
      .main-right
        display: none
      
      .main-left
        right: 0
        top: 10%
      
  
