.container 
  width: 90%
  margin: 0 auto

img 
  display: block
  width: 100%

.profile-picture 
  width: 3rem
  aspect-ratio: 1/1
  border-radius: 50%
  overflow: hidden

  &:hover 
    opacity: 0.75

.btn 
  padding: var(--btn-padding)
  display: inline-block
  cursor: pointer
  border-radius: var(--border-radius)
  font-size: 0.9rem
  font-weight: 400
  transition: 300ms ease all

  &:hover 
    opacity: 0.75

  &-primary 
    background: var(--color-primary)
    color: var(--color-white)

.text-bold 
  font-weight: 500

.alert
    display: none

.text-gry 
  color: var(--color-gray)

.btn-lg
    padding: 1rem 0
    width: 100%
    text-align: center
    margin-top: 1rem

aside 
  .menu-item 
    .notification-box 
      div 
        margin-bottom: 0.5rem
    
  

